{% extends 'base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block body %}

<div class="container">
    <h1 class="mt-5">Projects list</h1>
    <div class="row row-cols-1 row-cols-md-3">
        {% for project in projects %}
            <div class="col-sm-6">
                <div class="card my-3">
                    <div class="card-header">
                        <h4>{{project.code }} - {{ project.name }}</h4>
                        <p>
                            {{ project.startedAt|date("d/m/y", "Europe/Paris") }} - {{ project.endedAt|date("d/m/y", "Europe/Paris") }}
                            {% if project.status %} | <span class="badge" style="background-color: {{ project.status.color }}">{{ project.status.name }}</span>{% endif %}
                        </p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">{{ project.description}}</p>
                        <a href="{{ path('view_project', {"id": project.id }) }}" class="btn btn-primary btn-sm">See the project</a>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('view_project', {"id": project.id }) }}" class="btn btn-success btn-sm">Modify the project</a>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <p>Project team : {{ project.team.name }}</p>
                        <p>Customer team : {{ project.clientTeam.name }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
