{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5">Sign Up</h1>

        {{ form_start(registrationForm) }}
            <div class="row justify-content-center my-5">
                <div class="col-6">
                    {{ form_label(registrationForm.email) }}
                    <div class="input-group">
                        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control mb-2'}}) }}
                    </div>
                    {{ form_errors(registrationForm.email, {'attr': {'class': 'error'}}) }}
                    
                    {{ form_label(registrationForm.firstName) }}
                    <div class="input-group">
                        {{ form_widget(registrationForm.firstName, {'attr': {'class': 'form-control mb-2'}}) }}
                    </div>
                    {{ form_errors(registrationForm.firstName, {'attr': {'class': 'error'}}) }}

                    {{ form_label(registrationForm.lastName) }}
                    <div class="input-group">
                        {{ form_widget(registrationForm.lastName, {'attr': {'class': 'form-control mb-2'}}) }}
                    </div>
                    {{ form_errors(registrationForm.lastName, {'attr': {'class': 'error'}}) }}

                    {{ form_label(registrationForm.plainPassword) }}
                    <div class="input-group">
                        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control mb-2'}}) }}
                    </div>
                    {{ form_errors(registrationForm.plainPassword, {'attr': {'class': 'error'}}) }}

                    <button type="submit" class="btn btn-success">Sign Up</button>
                </div>
            </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
