{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

<div class="container">
    <h1 class="mt-5">Highlight's list</h1>
    <a type="button" class="btn btn-primary" href="{{ path('app_administration') }}"><i data-feather="arrow-left" width="15"></i> Return</a>
    <div class="row my-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th>Highlight name</th>
                    <th>Value</th>
                    <th>Is mandatory</th>
                </tr>
            </thead>
            
            <tbody>
                {% for highlight in highlights %}
                <tr>
                    <th scope="row">{{ highlight.id }}</th>
                    <td>{{ highlight.name }}</td>
                    <td>{{ highlight.description }}</td>
                    <td>{{ highlight.milestone.name|default('Not defined') }}</td>
                    <td>{{ highlight.project.name|default('Not defined') }}</td>
                    <td>{{ highlight.date|date("d F Y", "Europe/Paris") }}</td>
                    <td>
                        <a type="button" class="btn btn-primary" href="{{ path('app_highlight_edit', {"id": highlight.id}) }}"><i data-feather="edit" width="15"></i></a>
                        <a type="button" class="btn btn-danger" href="{{ path('app_highlight_delete', {"id": highlight.id}) }}" onclick="return confirm('Warning, this will delete the highlight! (This action is irreversible)')"><i data-feather="trash-2" width="15"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
