{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

<div class="container">
    <h1 class="mt-5">Projects list</h1>
    <div class="row my-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Project name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Code</th>
                    <th scope="col">Date</th>
                    <th scope="col">Team</th>
                    <th scope="col">Client Team</th>
                    <th scope="col">Status</th>
                    <th scope="col">Budget</th>
                    <th scope="col">Portfolio</th>
                    <th scope="col">Is archived</th>
                    <th scope="col">Initial budget</th>
                    <th scope="col">Consumed budget</th>
                    <th scope="col">Remaining</th>
                    <th scope="col">Landing</th>
                </tr>
            </thead>
            
            <tbody>
                {% for project in projects %}
                <tr>
                    <th scope="row">{{ project.id }}</th>
                    <td>{{ project.name }}</td>
                    <td>{{ project.description }}</td>
                    <td>{{ project.code }}</td>
                    <td>{{ project.startedAt|date("d F Y", "Europe/Paris") }} - {{ project.endedAt|date("d F Y", "Europe/Paris") }}</td>
                    <td>{{ project.team.name }}</td>
                    <td>{{ project.clientTeam.name|default('Not defined') }}</td>
                    <td>{{ project.status.name }}</td>
                    <td>{{ project.portfolio.name|default('Not defined') }}</td>
                    <td>{{ project.isArchived }}</td>
                    <td>{{ project.initialValue }}</td>
                    <td>{{ project.consumedValue }}</td>
                    <td>{{ project.remaining }}</td>
                    <td>{{ project.landing }}</td>
                    <td>
                        <a type="button" class="btn btn-primary" href="{{ path('app_project_edit', {"id": project.id}) }}"><i data-feather="edit" width="15"></i></a>
                    </td>
                    <td>
                        <a type="button" class="btn btn-danger" href="{{ path('app_project_delete', {"id": project.id}) }}" onclick="return confirm('Warning, this will delete the project! (This action is irreversible)')"><i data-feather="trash-2" width="15"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
