{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

<div class="container">
    <div class="row my-5 g-3">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Users</h5>
                </div>
                <div class="card-body">
                    <a href="{{ path('app_users_administration') }}" class="btn btn-primary">Manage users</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Teams</h5>
                </div>
                <div class="card-body">
                    <a href="{{ path('app_teams_administration') }}" class="btn btn-primary">Manage teams</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Status</h5>
                </div>
                <div class="card-body">
                    <a href="{{ path('app_status_administration') }}" class="btn btn-primary">Manage status</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Projects</h5>
                </div>
                <div class="card-body">
                    <a href="{{ path('app_projects_administration') }}" class="btn btn-primary">Manage projects</a>
                </div> 
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Risk</h5>
                </div>
                <div class="card-body">
                    <a href="{{ path('app_risk_administration') }}" class="btn btn-primary">Manage risk</a>
                </div> 
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Portfolio</h5>
                </div>
                <div class="card-body">
                    <a href="{{ path('app_portfolio_administration') }}" class="btn btn-primary">Manage portfolio</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Milestone</h5>
                </div>
                <div class="card-body">
                    <a href="{{ path('app_milestone_administration') }}" class="btn btn-primary">Manage milestone</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Highlight</h5>
                </div>
                <div class="card-body">
                    <a href="{{ path('app_highlight_administration') }}" class="btn btn-primary">Manage highlight</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
